/* Reset generale */
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Impostazioni generali */
a{
  color: white;
  text-decoration: none;
}
li{
  list-style-type: none;
}
.conteiner{
  width: 70%;
  margin: 0 auto;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.button{
  border: 1px solid #fe775a;
  background: #fe775a;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.button:hover{
  opacity: 0.7;
}
.fa-check{
  font-size: 10px;
  color: white;
  background: #fe775a;
  border-radius: 50%;
  padding: 1px;
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}
.small{
  margin-top: 50px;
  font-size: 12px;
}
main .col:hover{
  box-shadow: 3px 3px 3px 3px gray;
  padding: 12px;
  padding-bottom: 37px
}
main .row:hover{
  box-shadow: 3px 3px 3px 3px gray;
  padding: 2px;
}
/* Fine impostazioni generali */

/* Impostazioni Header top */
header .top{
  width: 100%;
  padding: 15px 0px;
  height: 80px;
  background: #F5F8FA;
  line-height: 40px;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
}
header .top .fa-angle-down{
  margin-right: 10px;
}
header .top .contact{
  border-left: 1px solid gray;
  padding-left: 10px;
}
header .top .contact a{
  color: black;
}

/* Header registrazione */
header .top .registrazione{
  text-align: right;
  float: right;
}
header .top .registrazione .fa-search{
  color: #45BBCE;
}
header .top .registrazione .login{
  background: white;
  margin: 0px 15px;
}
header .top .registrazione a .button {
  color: white;
  font-size: 15px;
}
header .top .registrazione .login a{
  background: white;
  color: #fe775a;
  margin: 0px 10px;
}

/* Impostazione menu */
header nav{
  padding-top: 80px;
}
header nav .conteiner img{
  margin: 20px 0px;
}
header nav .conteiner a{
  color: black;
}
header nav .conteiner .header_menu{
  float: right;
}
header nav .conteiner .header_menu li{
  display: inline-block;
  line-height: 74px;
  margin-left: 15px;
}
header nav .conteiner .header_menu .fa-angle-down{
  margin-left: 8px;
}

/* Impostazioni header middle */
header .middle{
  height: 600px;
  background-image: url(../img/sfondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 100% 10%;
}
header .middle .conteiner .intro{
  width: 45%;
  padding-top: 45px;
}
header .middle .conteiner .intro h1{
  font-size: 45px;
}
header .middle .conteiner .intro p{
  margin: 30px 0px 60px 0px;
}
header .middle .conteiner .intro .button{
  padding: 20px 40px;
  margin-bottom: 40px;
}

/* Impostazionei header bottom */
header .bottom{
  background: #afebe4;
  height: 70px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
/* Fine header generale */

/* Impostazioni main generale */
main{
  background: #F5F8FA;
  height: 1500px;
}

/* Impostazione main top */
main .top{
  text-align: center;
  padding: 50px 0px;
}
main .top img{
  width: 25%;
}
main .top p{
  width: 80%;
  padding-top: 30px;
  margin: auto;
}

/* Impostazione riga main */
main .row{
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-bottom: 50px;
}
main .row .left{
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 40px;
}
main .row .left img{
  width: 40%;
  margin-bottom: 20px;
}
main .row .left .button{
  padding: 15px 30px;
}
main .row .right{
  float: left;
  width: 70%;
  padding-top: 40px;
}
main .row .right p{
  font-size: 14px;
  width: 70%;
  padding: 20px 0px;
}
main .row .right span{
  font-size: 20px;
  font-weight: bold;
}
main .row .right hr{
  display: inline-block;
  border: 1px solid gray;
  background: gray;
  width: 50%;
  margin-left: 30px;
  margin-bottom:7px;
}
main .row .right li{
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
  padding-bottom: 40px;
}

/* Impostazioni main colonne */
main .col{
  float: left;
  margin-right: 5%;
  width: 30%;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  padding-bottom: 40px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-bottom: 50px;
}
main .col:last-child{
  margin-right: 0%;
}
main .col img{
  height: 100px;
}
main .col p{
  height: 100px;
  font-size: 14px;
  margin-top: 20px;
}
main .col hr{
  background: gray;
  border: 1px solid gray;
  width: 90%;
  margin: auto;
}
main .col h3{
  margin: 20px;
  font-size: 16px;
}
main .col ul{
  text-align: left;
  margin-bottom: 50px;
}
main .col .button{
  padding: 20px 40px;
}

/* Main sfondo sfumato */
main .sfumatura{
  color: white;
  background-image: linear-gradient(to right, #00A9B9 , #00B8AA);
  padding-bottom: 70px;
}
main .sfumatura .top{
  text-align: center;
}
main .sfumatura .top h2{
  font-size: 32px;
}

/* Impostazioni blocchi */
main .sfumatura .bottom .blocco{
  float: left;
  width: 25%;
  padding-top: 20px;
  border-right: 1px solid white;
  text-align: center;
}
main .sfumatura .bottom .blocco:nth-child(1),
main .sfumatura .bottom .blocco:nth-child(2),
main .sfumatura .bottom .blocco:nth-child(3),
main .sfumatura .bottom .blocco:nth-child(4){
  border-bottom: 1px solid white;
}
main .sfumatura .bottom .blocco:nth-child(4),
main .sfumatura .bottom .blocco:nth-child(8){
  border-right: none;
}
main .sfumatura .bottom .blocco .numero{
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}
main .sfumatura .bottom .blocco p{
  font-size: 12px;
  padding-bottom: 10px;
}

/* Impostazione main bottom */
main .bottom{
  padding-top: 50px;
}
main .bottom .paesi{
  float: left;
  width: 25%;
  padding: 0px 10px 55px 55px;
  font-size: 13px;
}
main .bottom .paesi h2{
  font-size: 38px;
  margin-bottom: 20px;
}
main .bottom .paesi p{
  line-height: 20px;
}

/* Impostazioni sponsor */
main .bottom .sponsor{
  float: left;
  width: 75%;
  margin: auto;
  padding: 10px;
  padding-left: 100px;
}
main .bottom .sponsor img{
  display: inline-block;
  width: 22%;
  vertical-align: middle;
  margin: 5px 5px;
}
/* Fine sponsor */

main .start{
  float: left;
  width: 40%;
  padding-top: 15px;
}
main .start p{
  margin: 30px 0 50px 0;
}
main .start .button{
  padding: 20px 35px;
}
main .start .small{
  padding-top: 25px;
}
main .ragazza{
  float: left;
  width: 60%;
}
main .ragazza img{
  float: right;
  width: 45%;
}
/* Fine main generale */

/* Impostazioni footer */
footer{
  background: #33475B;
  color: lightgray;
}

/* Footer generali */
footer i,
footer a{
  color: lightgray;
}

footer .col{
  float: left;
  width: 25%;
}
footer .col h2{
  color: white;
  font-size: 17px;
  padding: 30px 0 30px 0;
}
footer .col ul li {
  padding-bottom: 20px;
}
footer .col ul li a{
  font-size: 14px;
}
footer .col ul li a:hover{
  color: #7FD1DE;
}
footer .col ul li:last-child{
  margin-bottom: 20px;
}

/* impostazione bottone */
footer .button{
  background: white;
  color: #33475B;
  border: none;
  padding: 15px 15px;
}
footer .button a{
  color: #33475B;
}

/* Impostazione social */
footer .social i{
  width: 18%;
  padding-top: 30px;
  font-size: 22px;
}

/* Impostazione lingua */
footer .lingue{
  width: 55%;
  margin: auto;
  padding-top: 50px;
}
footer .lingue span a{
  margin: 10px;
  font-size: 15px;
}

/* Impostazione riga */
footer hr{
  margin-top: 20px;
}

/* Impostazione footer inferiore */
footer .bottom .left{
  float: left;
  width: 25%;
}
footer .bottom .left img{
  margin-top: 30px;
  margin-bottom: 10px;
}
footer .bottom .left p{
  padding-bottom: 40px;
}
footer .bottom .right{
  float: left;
  text-align: right;
  width: 75%;
  font-size: 21px;
  margin-top: 50px;
}
footer .bottom .right a{
  margin-left: 15px;
}

/* Impostazione hover footer */
footer .social i:hover,
footer .lingue span a:hover,
footer .bottom .right a:hover{
  color: #7FD1DE;
}
